/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  overflow-x: hidden;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 768px;
  height: 94vh;
  line-height: 0;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#index-banner {
  padding: 332px 0 0;
}

#sidenav-overlay {
  z-index: 900 !important;
}

.brand-logo {
  padding: 0 !important;
  margin: -40px 0 0;
  width: 202px; 
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: brightness(25%);  
}

.header-background {
  width: 100%;
  height: 94vh;
  min-height: 768px;
}

.slide-wrapper, .slider {
  height: 660px !important;
}

.controls {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.24);
}

.controls i {
  color: #fff;
  font-size: 3em;
}

.controls i:hover {
  cursor: pointer;
}

.right-control {
  right: 0;
}

.clip-path-left {
  clip-path: polygon(0% 0%, 30% 100%, 100% 100%, 100% 0%);
  left: 30%;
}

.clip-path-right {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 70% 0%);
}

._container {
  width: 100%;
  margin-top: -31px;
  position: relative;
  right: 0%;
}

.left-banner-slider {
  width: 62.5%;
  margin-left: -20%;  
}

.right-banner-slider {
  width: 62.5%;
}

/* helpers */
@media screen and (max-width: 379px) {
  .mt-12 {
    margin-top: 12px !important;
  }
}

.ml-4-neg {
  margin-left: -4px !important;
}

.pb-72 {
  padding:0 0 72px !important;
}

.m-tb-16 {
  margin: 16px 0 !important;
}

.p-tb-32 {
  padding: 32px 0 !important;
}

.p-tb-72 {
  padding: 72px 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-end {
  justify-content: flex-end;
}

[draggable=true] {
  cursor: move;
}

/* car thing */ 

.running-car {
	width: 742px;
	position: relative;
	top: 0;
	left: 0;
}

img.car,
img.wheel {
	-webkit-transition: all 1.2s ease-out;
	-moz-transition: all 1.2s ease-out;
	transition: all 1.2s ease-out;
  margin-left: -360px;
  margin-top: -59px;
}

img.wheel {
  position: absolute;
  width: 141px;
  left: 400px;
  bottom: 48px;
  z-index: 1;
}

.running-car.in-view img.car {
	-webkit-transform: translate(285px, 0px) rotate(0deg);
	-moz-transform: translate(285px, 0px) rotate(0deg);
	transform: translate(285px, 0px) rotate(0deg);
}

.running-car.in-view img.wheel {
	-webkit-transform: translate(285px, 0px) rotate(600deg);
	-moz-transform: translate(285px, 0px) rotate(600deg);
	transform: translate(285px, 0px) rotate(600deg);
}

.device-xs .running-car.in-view img.car {
	-webkit-transform: translate(500px, 0px) rotate(0deg);
	-moz-transform: translate(500px, 0px) rotate(0deg);
	transform: translate(500px, 0px) rotate(0deg);
}

.device-xs .running-car.in-view img.wheel {
	-webkit-transform: translate(500px, 0px) rotate(600deg);
	-moz-transform: translate(500px, 0px) rotate(600deg);
	transform: translate(500px, 0px) rotate(600deg);
}

.device-xxs .running-car.in-view img.car {
	-webkit-transform: translate(350px, 0px) rotate(0deg);
	-moz-transform: translate(350px, 0px) rotate(0deg);
	transform: top translate(350px, 0px) rotate(0deg);
}

.device-xxs .running-car.in-view img.wheel {
	-webkit-transform: translate(350px, 0px) rotate(600deg);
	-moz-transform: translate(350px, 0px) rotate(600deg);
	transform: translate(350px, 0px) rotate(600deg);
}

img.truck,
img.wheel-truck {
	-webkit-transition: all 1.2s ease-out;
	-moz-transition: all 1.2s ease-out;
	transition: all 1.2s ease-out;
  margin-left: 1750px;
  margin-top: -80px;
  width: 779px;
}

img.wheel-truck {
  position: absolute;
  left: 80px;
  width: 90px;
  bottom: 48px;
  z-index: 1;
}

.running-car.in-view img.truck {
	-webkit-transform: translate(-450px, 0px) rotate(0deg);
	-moz-transform: translate(-450px, 0px) rotate(0deg);
	transform: translate(-450px, 0px) rotate(0deg);
}

.running-car.in-view img.wheel-truck {
	-webkit-transform: translate(-450px, 0px) rotate(-600deg);
	-moz-transform: translate(-450px, 0px) rotate(-600deg);
	transform: translate(-450px, 0px) rotate(-600deg);
}

.device-xs .running-car.in-view img.truck {
	-webkit-transform: translate(-300px, 0px) rotate(0deg);
	-moz-transform: translate(-300px, 0px) rotate(0deg);
	transform: translate(-300px, 0px) rotate(0deg);
}

.device-xs .running-car.in-view img.wheel-truck {
	-webkit-transform: translate(-290px, 0px) rotate(-600deg);
	-moz-transform: translate(-290px, 0px) rotate(-600deg);
	transform: translate(-290px, 0px) rotate(-600deg);
}

.device-xxs .running-car.in-view img.truck {
	-webkit-transform: translate(-350px, 0px) rotate(0deg);
	-moz-transform: translate(-350px, 0px) rotate(0deg);
	transform: translate(-350px, 0px) rotate(0deg);
}

.device-xxs .running-car.in-view img.wheel-truck {
	-webkit-transform: translate(-340px, 0px) rotate(-600deg);
	-moz-transform: translate(-340px, 0px) rotate(-600deg);
	transform: translate(-340px, 0px) rotate(-600deg);
}

.pulsy-icon-wrapper {
	margin-top: 132px;
}

.place-icon-right {
  margin-top: -624px;
  margin-left: 1317px;
}

.place-icon-left{
	margin-left: 332px;
}

.place-icon {
	width: 250px;
}

.place-icon::after {
	content: "";
	-webkit-border-radius: 100%;
	border-radius: 100%;
	height: 200%;
	width: 200%;
	position: absolute;
	margin: -100% 0 0 -100%;
}

.left-caption {
  left: 6% !important;
}

@media screen and (max-width: 1020px) {
  .running-car {
    display: none;
  }

  .clip-path-left {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    left: 0;
  }
  
  .clip-path-right {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }

  .left-banner-slider {
    width: 100%;
    margin: 0;  
  }
  
  .right-banner-slider {
    width: 100%;
    margin: 0;
  }

  .slide-wrapper, .slider {
    height: 100vh;
    min-height: 600px !important;
  }

  .regular-caption {
    left: 6% !important;
  }
}

@keyframes bounceInDown {
	from,
	60%,
	75%,
	90%,
	to {
		/* animation-timing-function: cubic-bezier(0.130, 0.600, 0.300, 1.000); */
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	0% {
		opacity: 0;
		transform: translate3d(0, -1600px, 0);
	}
	60% {
		opacity: 1;
		transform: translate3d(0, 25px, 0);
	}
	75% {
		transform: translate3d(0, -10px, 0);
	}
	90% {
		transform: translate3d(0, 5px, 0);
	}
	to {
		transform: none;
	}
}

.bounceInDown {
	animation: bounceInDown 3s;
	animation-iteration-count: 1;
}

.slide-mask {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}