body {
  overflow-x: hidden;
  user-select: none;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.full-width-slide {
  min-height: 600px;
  height: 94vh;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 360px;
  height: 94vh;
  line-height: 0;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (min-width: 1025px) and (max-width: 1510px) {
  .right {
    margin-left: 20px; 
    min-height: 56px;
    height: auto;
  }
  /* .btn {
    display: none;
  } */
}   

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#index-banner {
  padding: 16% 0 0;
}

#for-you {
  margin-top: -15px;  
}

#sidenav-overlay {
  z-index: 900 !important;
}

.brand-logo {
  padding: 0 !important;
  margin: -40px 0 0;
  width: 202px; 
}
  
.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: brightness(25%);  
}

.img-mobile {
  display: none;
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: brightness(35%);  
}

.header-background {
  width: 100%;
  height: 94vh;
  min-height: 360px;
  background: linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)), url(../images/fallback.png);
}

.slide-wrapper, .slider {
  height: 96vh !important;
}

.controls {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.24);
}

.controls i {
  color: #fff;
  font-size: 3em;
}

.controls i:hover {
  cursor: pointer;
}

.right-control {
  right: 0;
}

.clip-path-left {
  clip-path: polygon(0% 0%, 30% 100%, 100% 100%, 100% 0%);
}

.clip-path-right {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 70% 0%);
}

._container {
  width: 100%;
  margin-top: 16px;
  position: relative;
  right: 0%;
}

.left-banner-slider {
  width: 65%;
  position: absolute;
  right: 0;
}

.right-banner-slider {
  width: 65%;
}

._wrapper {
  width: 100%;
  max-width: 1480px;
  padding: 24px;
  margin: 0 auto;
}

.about-image {
  max-width: 60% !important;
  border: 5px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.about-section i {
  float: left;
  font-size: 40pt;
  color: #009688;
}

.about-content-wrapper {
  margin: 8px 32px 8px 8px !important;
  max-width: 30%;
  display: block;
}

.about-content p, h4{
  margin-left: 70px;
}

.regular-caption {
  padding: 6%;
}

.right-caption {
  width: 70% !important;
}

.mobile-btn {
  width: 230px;
  height: 46px;
  margin-left: 35px;
}

/* helpers */
@media screen and (max-width: 379px) {
  .mt-12 {
    margin-top: 12px !important;
  }
}

.ml-4-neg {
  margin-left: -4px !important;
}

.pb-72 {
  padding:0 0 72px !important;
}

.m-tb-16 {
  margin: 16px 0 !important;
}

.p-tb-32 {
  padding: 32px 0 !important;
}

.p-tb-72 {
  padding: 72px 0 !important;
}

.p-0 {
  padding: 0 !important;
}

._nav-wrapper-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-end {
  justify-content: flex-end;
}

[draggable=true] {
  cursor: move;
}

/* car thing */ 

.running-car {
	width: 742px;
	position: relative;
	top: 0;
	left: 0;
}

img.car,
img.wheel,
img.truck,
img.truck-tier,
img.second-truck-tier {
  animation-timing-function: cubic-bezier(0,.91,.25,.25);
	-webkit-transition: all .8s ease-out;
  -moz-transition: all .8s ease-out;
  transition: all .8s ease-out;
}
img.car,
img.wheel {
  margin-left: -360px;
  margin-top: -132px;
}

img.wheel {
  position: absolute;
  width: 141px;
  left: 400px;
  bottom: 32px;
  z-index: 1;
}

#truck {
  position: absolute !important;
  right: 0px !important;
  left: initial;
}

img.truck,
img.truck-tier,
img.second-truck-tier {
  margin-left: 350px;
  margin-top: -100px;
  width: 778px;
}

img.truck-tier,
img.second-truck-tier {
  position: absolute;
  bottom: 44px;
  z-index: 1;
}

img.truck-tier {
  left: 80px;
  width: 90px;
}

img.second-truck-tier {
  left: 390px;
  width: 90px;
}

.pulsy-icon-wrapper {
	margin-top: 132px;
}

.place-icon-right {
  margin-top: 172px;
  margin-left: 70px;
}

.place-icon-left{
	margin-left: 332px;
}

.place-icon {
	width: 250px;
}

.place-icon::after {
	content: "";
	-webkit-border-radius: 100%;
	border-radius: 100%;
	height: 200%;
	width: 200%;
	position: absolute;
	margin: -100% 0 0 -100%;
}

.left-caption {
  padding-left: 26% !important;
  width: 92%;  
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -300px, 0);
  }

  20% {
    opacity: 1;
  }

  28% {
    transform: translateY(-200px);
  }

  40% {
    transform: translateY(-100px);
  }
  
  59% {
    transform: translateY(0px);
  }

  72% {
    transform: translateY(-56px);
  }
  
  98% {
    transform: translateY(0px);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
	animation: bounceInDown .89s linear both;
  animation-iteration-count: 1;
}

.slide-mask {
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.60), 
    rgba(0, 0, 0, 0.60) 
  );
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: sticky;
  bottom: 0;
  z-index: -1;
}

.about-content p {
  color: #616161 !important;
}

.page-footer {
  background-image: url('../images/background-footer.png') !important;
  background-color: rgba(9, 21, 26, 1) !important;
  background-position: center !important;
  background: no-repeat;
}

.footer-container {
  padding: 42px 0;  
}

.small-phone-number {
  font-size: 1em !important;
}

.phone-number {
  font-size: 2em;
}

.logo-footer {
  background-image: url('../images/logo-footer.png') !important;
  background-position: center !important;
  background: no-repeat;
  width: 50%;
  height: 10vh;
}

.head-office-city {
  color: #00b278;
}

.footer-contact i {
  font-size: 22pt;
}

.footer-contact a {
  margin-left: 5px;
}

.footer-contact img {
  width: 28px;
  height: 28px;
}

.social-media-icons {
  text-align: center;
  padding: 28px 0 !important;
}

.social-media-icons img {
  margin: 4px;
  width: 30px;
  height: 30px;
}

.on-right-side {
  margin-top: -100px;
}

.menu-ul {
  margin-left: 32%;
}

.slider .slides li .caption {
  width: 60% !important;
}

.indicators {
  z-index: 10;
  bottom: 16px !important;
}

.only-mobile {
  display: none;
}

@media screen and (max-width: 1750px) {
  img.truck, 
  img.truck-tier,
  img.second-truck-tier {
    margin-left: 450px;
  }

  .place-icon-right {
    margin-left: 170px; 
  }
}

@media screen and (max-width: 1602px) {
  ._nav-wrapper-container {
    margin: 0 0 0 82px;
  }

  img.truck, 
  img.truck-tier,
  img.second-truck-tier {
    margin-left: 550px;
  }

  .place-icon-right {
    margin-left: 270px; 
  }
}

@media screen and (max-width: 1560px) {
  ._nav-wrapper-container {
    margin: 0 142px 0 0;
  }
}

@media screen and (max-width: 1440px) {
  img.truck,
  img.truck-tier,
  img.second-truck-tier {
    margin-left: 500px;
  }

  .place-icon-right {
    margin-left: 235px !important;
    margin-top: 140px !important;
  }

  img.truck-tier {
    bottom: 48px;
  }

  .slide-wrapper, .slider {
    height: 100vh;
    min-height: 600px !important;
  }

  .menu-ul {
    margin-left: 26%;
  }
}

@media screen and (max-width: 1360px) {
  #index-banner {
    padding: 12% 0 0;
  }

  .left-banner-slider {
    width: 50%;
  }
  
  .right-banner-slider {
    width: 50%;
  }

  .clip-path-left {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
  
  .clip-path-right {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }

  .left-caption {
    padding-left: 6% !important;
  }

  .menu-ul {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1144px) {
  nav a.button-collapse {
    display: block !important;
  }

  .menu-ul {
    display: none;
  }

  .brand-logo {
   left: 32%;
  }

  img.truck, 
  img.truck-tier,
  img.second-truck-tier {
    margin-left: 650px !important;
  }

  img.car,
  img.wheel {
    margin-left: -460px;
  }

  .place-icon-right {
    margin-left: 370px !important; 
  }

  .place-icon-left {
    margin-left: 220px;
  }

  .about-content-wrapper {
    float: left;
    max-width: 100% !important;
    margin: 8px 32px 8px 8px;
  }

  .about-image {
    max-width: 100% !important;
  }

  .about-sub-wrapper {
    float: left;
    max-width: 100% !important;
    margin-left: -32px;
  }
}

@media screen and (max-width: 1024px) {

  .left-banner-slider {
    width: 43.5%;
  }
  
  .right-banner-slider {
    width: 43.5%;
  }

  .brand-logo {
    left: 40%;
   }
}

@media screen and (max-width: 1020px) {
  .only-mobile {
    display: block;
  }

  .only-desktop {
    display: none;
  }

  .running-car {
    display: none;
  }

  .left-banner-slider {
    position: initial;
    width: 100%;
    margin: 0;  
  }
  
  .right-banner-slider {
    width: 100%;
    margin: 0;
  }

  .slide-wrapper, .slider {
    background: rgba(255, 255, 255, 0) !important;
    height: 100vh !important;
    min-height: 580px !important;
  }

  .left-caption {
    left: 15% !important;
  }

  .slider .slides li .caption {
    width: 70% !important;
  }

  .about-image {
    max-width: 100% !important;
  }

  .page-footer {
    text-align: center !important;
  }

  .on-right-side {
    margin: 0;
    float: none !important;
  }

  .mob-mt-30 {
    margin-top: 30px;
  }

  .right-caption {
    width: 100% !important;
  }

  h2 {
    font-size: 2.98rem !important;
  }

  h5 {
    line-height: 2rem !important;
    font-size: 1.3rem;
  }

  .footer-first-child {
    margin-top: 106px;
  }
}

@media (max-height: 740px) {
  .place-icon-right {
    margin-top: 40px !important;    
  }
}

@media (max-height: 715px) {
  .place-icon-right {
    margin-top: 20px !important;    
  }
}